@{
    ViewBag.Title = "Error Page";
    //Layout = "~/Views/Shared/_Layout.cshtml";
}
@Styles.Render("~/Content/bootstrap-select")
@Styles.Render("~/Content/gijgo")
<header class="page-header bg-danger  text-white">
    <div class="container-fluid">
        <h2 class="no-margin-bottom">Error</h2>
    </div>
</header>