@model EmployeeInformationSystem.Core.Models.MultiSelect

@{
    ViewBag.Title = "ViewEmpLeaveBalance";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<link href="~/Content/select2/css/select2.min.css" rel="stylesheet" />
<link rel="stylesheet" href="~/Content/select2-bootstrap4-theme/select2-bootstrap4.min.css">

@section CustomStyles{
    @Styles.Render("~/Content/datatable")
    <style>
        #overlay {
            position: absolute;
            justify-content: left;
            z-index: 1000;
            top: 0;
            left: 0;
            height: 100%;
            width: 100%;
            background: rgba(130, 130, 130, 0.5);
        }
    </style>
}
<header class="page-header bg-success text-white">
    <div class="container-fluid">
        <h2 class="no-margin-bottom"> Employee Leave Balance </h2>
    </div>
</header>
<div id="overlay" style="text-align:center;display:none">
    <img src="~/Content/img/spinner.gif" style="resize:inherit;" />
    <br />
</div>

<section class="forms">

    <div class="container-fluid" style="position:relative">
        <div class="container-fluid">
            <div class="row" id="reportDisplayBlock">
                <div class="col-lg-12">
                    <div class="card">
                        <div class="card-header d-flex align-items-center">
                            <b> Employee Leave Balance</b>
                        </div>
                        @*@using (Html.BeginForm("ViewLeaveDetails", "Leave", FormMethod.Post, new { @class = "form-horizontal", @data_heading = "Add Leave Type" }))
                            {*@
                        <div class="card-body">
                            <div class="form-group row">
                                <label class="col-sm-3 form-control-label">Organisation</label>
                                <div class="col-sm-5">
                                    <select name="orgList" class="form-control select2" id="orgSelect" multiple="multiple" data-placeholder="Select Organistion" style="width:430px !important">
                                    </select>
                                </div>
                                <div class="form-group row offset-sm-3">
                                    <div classs="col-sm-9" style="display:none;color: red;" id="errorOrg">Please select columns</div>
                                </div>
                            </div>

                            <div class="form-group row">
                                <label class="col-sm-3 form-control-label">Employee</label>
                                <div class="col-sm-5">
                                    <select name="empList" class="form-control select2" id="empSelect" multiple="multiple" data-placeholder="Select Employee" style="width:430px !important">
                                    </select>
                                </div>
                                <div class="form-group row offset-sm-3">
                                    <div classs="col-sm-9" style="display:none;color: red;" id="errorEmp">Please select columns</div>
                                </div>
                            </div>



                            <div class="form-group row">
                                <div class="col-sm-9 offset-sm-3">
                                    <input type="submit" value="Show" class="btn btn-primary" id="ShowLDetailBtn">
                                </div>
                            </div>



                        </div>
                        @*}*@
                    </div>


                    <div class="card" id="tblCard" style="display:none">
                        <div class="card-header d-flex align-items-center">
                            <b> Employee Leave Balance Details</b>
                        </div>
                        <div class="card-body">
                            <table class="table table-striped table-bordered" style="width:100%">
                                <thead>
                                    <tr>
                                        <th>Name</th>
                                        <th>Organisation</th>
                                        <th>Leave Type</th>
                                        <th>Leave Balance</th>
                                        
                                    </tr>
                                </thead>
                                <tbody id="ldTable"></tbody>
                            </table>



                        </div>

                    </div>
                </div>
            </div>
        </div>
    </div>


</section>
<script src="https://code.jquery.com/jquery-3.5.1.js"
        integrity="sha256-QWo7LDvxbWT2tbbQ97B53yJnYU3WhH/C8ycbRAkjPDc="
        crossorigin="anonymous"></script>

<script src="https://cdnjs.cloudflare.com/ajax/libs/bootbox.js/5.4.0/bootbox.min.js"></script>
<script src="~/Content/select2/js/select2.full.min.js"></script>
@*<script src="/EmployeeInformationSystem.WebUI/Content/vendor/datatable/js/datatables.min.js"></script>*@

<script>

    var getUrl = window.location
    var aURL = getUrl.protocol + "//" + getUrl.host + "/" + getUrl.pathname.split('/')[1] + "/";


    postData("Leave/GetOrgForDropDown", "", "getOrg", "Action");

    function postData(api, inputData, aBy, aTyp) {
        $.ajax({
            type: "POST",
            url: aURL + api,
            data: JSON.stringify(inputData),
            dataType: "JSON",
            contentType: "application/json; charset=utf-8",
            success: function (data) {

                PostDone(data, aBy, aTyp);
            },
            error: function (err) {
                window.location.href = aURL;
                //alert("Something went wrong");
            }
        });
    }


    PostDone = function (data, aBy, aTyp) {

        if (aTyp === "Action") {

            if (aBy === "getOrg") {

                if (data) {
                    $.each(data, function (Key, value) {

                        $('#orgSelect').append(
                            $('<option></option>').val(value.Id).text(value.Name));


                    });


                }
            }

            else if (aBy === "getEmp") {
                if (data) {
                    $.each(data, function (Key, value) {

                        $('#empSelect').append(
                            $('<option></option>').val(value.Id).text(value.FullName));


                    });


                }
            }

            else if (aBy === "showDetails") {


                if (data.length > 0) {
                    $('#ldTable').empty();
                    $('#tblCard').css('display', 'block');

                    $.each(data, function (Key, value) {
                        $('#ldTable').append('<tr role="row"><td class="tableRow">' + value.EmpName + '</td><td class="tableRow">' + value.Organisation + '</td><td class="tableRow">' + value.LeaveType + '</td><td class="tableRow">' + value.LeaveCount +  '</td></tr>');

                    });
                }
                else {
                    $('#ldTable').empty();
                    $('#tblCard').css('display', 'block');
                    $('#ldTable').append('<tr role="row"><td colspan="5" style="text-align:center"> No records found </td></tr>');


                }
                $('#overlay').fadeOut();
            }

        }
    }

    $('.select2').select2({
        theme: 'bootstrap4'
    });

    //Initialize Select2 Elements
    $('.select2bs4').select2({
        theme: 'bootstrap4'
    });


</script>

<script>
    $('#orgSelect').on('change', function (e) {

        var orgList = $("#orgSelect").val();
        var data = {
            'orgList': orgList,

        }
        postData("Leave/GetEmpName", data, "getEmp", "Action");


    });



    $('#ShowLDetailBtn').click(function () {

        var orgList = $("#orgSelect").val();
        var empList = $("#empSelect").val();

        if (orgList.length > 0 && empList.length > 0) {
            var data = {
                'orgList': orgList,
                'empList': empList

            }

            $("#errorOrg").hide();
             $("#errorEmp").hide();
            $('#overlay').fadeIn();
            postData("Leave/EmpLeaveBalance", data, "showDetails", "Action");
        }

        else {

            if (orgList.length == 0) {
                $("#errorOrg").show();
                isValid = false;
            }
            else {
                $("#errorOrg").hide();
            }


            if (empList.length == 0) {
                $("#errorEmp").show();
                isValid = false;
            }
            else {
                $("#errorEmp").hide();
            }
        }
    });
</script>


