 @{
    ViewBag.Title = "Add Employee";
}

@section CustomStyles{
    <style>
        #overlay {
            position: absolute;
            justify-content: left;
            z-index: 1000;
            top: 0;
            left: 0;
            height: 100%;
            width: 100%;
            background: rgba(130, 130, 130, 0.5);
        }
    </style>

}
@section DataManage{
    show
}
@section AddEmployee{
    class="active"
}


@model EmployeeInformationSystem.Core.ViewModels.DeputationistsViewModel
<div id="overlay" style="display:none;text-align:center;">
    <img src="~/Content/img/spinner.gif" style="resize:inherit;" />
    <br />
</div>
<!-- Page Header-->
<header class="page-header">
    <div class="container-fluid">
        <h2 class="no-margin-bottom">Add Employee Data</h2>
    </div>
</header>
<!-- Forms Section-->
<section class="forms">
    <div class="container-fluid" style="position:relative">

        <div class="row">
            <div class="col-lg-12">
                <div class="card" id="AddDataForm">
                    <div class="card-header d-flex align-items-center">
                        <h3 class="h4">Select Type</h3>
                    </div>

                    <div class="card-body mx-auto">
                        <div class="form-inline">
                            <div class="form-group">
                                <select name="account" class="mr-5 form-control" style="width:500px" id="chooseEmployeeType">
                                    <option value="NA" selected="selected">--Select option--</option>
                                    <option value="Deputationist">Deputationist</option>
                                    <option value="Consultant">Advisor/Consultant</option>
                                    <option value="Contractual">Contractual</option>
                                </select>
                            </div>
                            <div class="form-group ">
                                <button type="submit" class="ml-5 form-control btn btn-primary" id="continueBtn" disabled>Continue</button>
                            </div>
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </div>
</section>
@section Scripts{
    <script>
        $(document).ready(function () {
            $("#chooseEmployeeType").change(function () {
                var selectedOption = $(this).children("option:selected").val();
                if ("NA" == selectedOption && !$("#continueBtn").prop('disabled')) {
                    $('#continueBtn').attr('disabled', true);
                } else {
                    $('#continueBtn').removeAttr('disabled');
                }
            });
            $('#continueBtn').click(function () {
                $('#overlay').fadeIn();
                var targetPage = $("#chooseEmployeeType").children("option:selected").val();
                if ('NA' != targetPage) {
                    $.ajax({
                        url: '@Url.Action("AjaxAdd", "EmployeeData")?targetPage=' + targetPage,
                        success: function (result) {
                            $('#AddDataForm').html(result);
                        },
                        error: function () {
                            $('#AddDataForm').html('<div class="alert alert-danger" role="alert"> An Error has occured </div >');
                        },
                        fail: function (xhr, textStatus, errorThrown) {
                            $('#AddDataForm').html('<div class="alert alert-danger" role="alert">Request Failed with error: ' + errorThrown + '</div > ');
                        }
                    });
                }
                $('#overlay').fadeOut();
            });
        });
    </script>
}