@{
    ViewBag.Title = "Home";
}
@section Home{
    class="active"
    }
<!-- Page Header-->
<header class="page-header">
    <div class="container-fluid">
        <h2 class="no-margin-bottom">Dashboard</h2>
    </div>
</header>
<!-- Dashboard Counts Section-->
<section class="dashboard-counts no-padding-bottom">
    <div class="container-fluid">
        <div class="row bg-white has-shadow">
            <!-- Item -->
            <div class="col-xl-3 col-sm-6">
                <div class="item d-flex align-items-center">
                    <div class="icon bg-violet"><i class="icon-user"></i></div>
                    <div class="title">
                        <span>Total<br>Employees</span>
                    </div>
                    <div class="number"><strong>25</strong></div>
                </div>
            </div>

            <!-- Item -->
            <div class="col-xl-3 col-sm-6">
                <div class="item d-flex align-items-center">
                    <div class="icon bg-red"><i class="fa fa-check-circle"></i></div>
                    <div class="title">
                        <span>Active<br>Employees</span>
                    </div>
                    <div class="number"><strong>70</strong></div>
                </div>
            </div>
            <!-- Item -->
            <div class="col-xl-3 col-sm-6">
                <div class="item d-flex align-items-center">
                    <div class="icon bg-green"><i class="fa fa-minus-circle"></i></div>
                    <div class="title">
                        <span>Inactive<br>Employees</span>
                    </div>
                    <div class="number"><strong>40</strong></div>
                </div>
            </div>
            <!-- Item -->
            <div class="col-xl-3 col-sm-6">
                <div class="item d-flex align-items-center">
                    <div class="icon bg-orange"><i class="icon-check"></i></div>
                    <div class="title">
                        <span>Recent<br>Joinees</span>
                    </div>
                    <div class="number"><strong>50</strong></div>
                </div>
            </div>
        </div>
    </div>
</section>